# All untarget for git files

# Compailing sytems
.vscode/

# Build folder
build/.cmake
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/Testing
*.ini

# Old include libraries
i686-w64-mingw32/
x86_64-w64-mingw32/

# New include libraries
bin/
cmake/
lib/
include/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe

# Archives
*.7z
*.zip

# Data files
*.dat

# CppCheck folders
codeTester-cppcheck-build-dir/
*.cppcheck
